.movie-card {
  background: #1c1c1c;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  transition: transform 0.2s ease;
}

.fav-button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: orange;
  color: #333;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.fav-button:hover {
  background: #d5d5d5;
}

.fav-active {
  background: red !important;
  color: #000;
}

.fav-active:hover {
  background: grey !important;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card-img {
  width: 100%;
  object-fit: cover;        /* EVITA DEFORMACIONES */
  border-radius: 10px;
  background: #1c1c1c;      /* fondo si tarda en cargar */
}


.movie-card-body {
  padding: 10px;
  text-align: center;
}

.movie-card-body h3 {
  margin: 0;
  font-size: 1.1rem;
}

.movie-card-body p {
  font-size: 0.9rem;
  margin-top: 5px;
}
