.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-container input {
  width: 60%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}
